/********************************************************
    The purpose of course.css is to house only the css
    specific to an individual course. The online.css
    houses all the default template formatting.
********************************************************/
/* DO NOT DELETE OR MODIFY THIS IMPORT */
@import url("https://content.byui.edu/integ/gen/599082e0-3e89-4fd9-ac69-2615865d63c7/0/online.css");

/* Adjust/Add Course Specific css Below */
html {
	background: -webkit-radial-gradient(ellipse, #406986 0%, #16344a 100%) fixed;
	background: radial-gradient(ellipse, #406986 0%, #16344a 100%) fixed;
}
h1 {
	color: #333333;
}
h2,
h4 {
	color: #2d5d94;
}
h3,
h5 {
	color: #5f6060;
}
a {
	color: #2d5d94;
	border-bottom: 2px solid #2d5d94;
}
a:hover {
	color: #7b4c8d;
    border-bottom: 2px solid #7b4c8d;
}
a:visited {
	color: #7b4c8d;
    border-bottom: 2px solid #7b4c8d;
}
#footer {
	color: #e2e2e2;
	background-color: #2d5d94;
}
/********************************************
    SPLASH PAGE STYLING
********************************************/
.splash #article {
	color: #eaeaea;
	background-color: #125576;
}
.splash h1 {
	color: #fafafa;
}
.splash h2,
.splash h4 {
	color: #a1d7ff;
}
.splash h3,
.splash h5{
	color: #c3c3c3;
}
.splash a {
    color: #a1d7ff;
	border-bottom: 2px solid #a1d7ff;
}
.splash a:hover {
	color: #c08fd3;
    border-bottom: 2px solid #c08fd3;
}
.splash a:visited {
	color: #c08fd3;
    border-bottom: 2px solid #c08fd3;
}
.splash #footer {
	color: #e2e2e2;
	background-color: #133955;
}
/********************************************
    FEATURES STYLING
********************************************/
/* Callout box */
.callout {
    color: #2d5d94;
    background: #e3ded1;
}
/* Drop downs */
.drop-down {
    background: #6c6c6c;
}
.drop-down:hover {
    background: #7f7f7f;
}
/* Rubric table */
/* Column headings */
.rubric tr:first-child th {
	background-color: #1e435d;
}
/* Row headings */
.rubric th {
    background-color: #2d5d94;
}
/* Mouseover popups */
#main .popup {
    border-bottom: dotted 2px #274b66;
}
#main .popup span {
    background: #274b66;
}
#main .popup:after {
    border-color: #274b66 transparent;
}
/* TOA Banners */
h1.prepare,
h2.prepare {
    background: #8ed0cb;
}
h1.prepare:before,
h2.prepare:before {
    background: #49807b;
}
h1.teach,
h2.teach {
    background: #9abad6;
}
h1.teach:before,
h2.teach:before {
    background: #537491;
}
h1.ponder,
h2.ponder {
    background: #baa4d4;
}
h1.ponder:before,
h2.ponder:before {
    background: #8163a5;
}